html {
    font-family: sans-serif;
    font-size: 16px;
}

@media (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}

body {
    margin: 20px;
    background-color: #caf0f5;
    background-image: linear-gradient(#d4faff,#caf0f5);
    background-repeat: repeat-x;
}

@media (max-width: 512px) {
    body {
        font-size: 12px;
    }
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px) {
    #container {
        flex-direction: column;
    }
}

.block {
    flex-grow: 1;
}

label {
    display: block;
    margin-bottom: 0.4em;
    font-size: 0.9rem;
}

input {
    display: block;
}

textarea {
    display: block;
}

select {
    display: block;
}

#measurementData {
    min-height: 400px;
    width: 90%;
}

.referenceData {
    min-height: 200px;
    width: 50%;
}

.removeButton {
    margin-top: 10px;
}

.error {
    border: solid 1px #660000;
    background-color: #ffa2a2;
    color: #660000;
    padding: 12px;
    margin-bottom: 10px;
}

.result {
    border: solid 1px #1b5b00;
    background-color: #aed999;
    color: #1b5b00;
    padding: 12px;
    margin-bottom: 10px;
}

hr {
    width: 90%;
}

.resultValues, .rangeValues {
    margin-bottom: 10px;
}

.resultValues {
    font-weight: bold;
}

.removeButton {
    display: none;
}

.toggleJSONButton {
    margin-top: 20px;
}

#inputJson, #outputJson {
    display: none;
}

.helpToggle {
    background-color: #ffc124;
    border: solid #6b500f 1px;
    color: #6b500f;
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    margin-left: 0.8em;
    position: relative;
    top: -3px;
    cursor: pointer;
}

/* Popup container */
.popup {
    position: relative;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    font-size: 0.85rem;
    line-height: 1.1rem;
    font-weight: normal;
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px 12px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 80px;
    margin-left: -80px;
}

.popup .popuptext.bottom {
    bottom: 0;
    top: 125%;
    height: fit-content;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .popuptext.bottom::after {
    top: -10px;
    border-color: transparent transparent #555 transparent;
}

.popup .popuptext img {
    width: 100%;
    margin-bottom: 10px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
